label {
  display: block;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(20deg,#0f766e, #047857);
}

.login-card {
  width: 700px;
  background-color: #fff;
  padding: 28px;
  border-radius: 12px;
}

.oauth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.oauth ul {
  width: 100%;
}

.oauth ul li {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  
  color: #fff;

  & + & {
    margin-top: 16px;
  }

  a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    
  }

  &.facebook {
    background: #425f9d;
  }

  &.twitter {
    background: #08afed;
  }

  &.google {
    background: #e8372d;
  }
}

.divisor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  width: 2px;
  height: 100px;
  background-color: #9ca3af;
}

.or {
  padding: 14px;
  border: 1px solid #9ca3af;
  border-radius: 50%;
}

.login {
  display: grid;
  grid-template-columns: auto min-content auto;
  gap: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login form h1 {
  margin-bottom: 20px;
}

.login form label {
  margin-bottom: 4px;
  text-transform: capitalize;
}

.login form input {
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #9ca3af;
}

.login .inputs-fields {
  width: 100%;
}

.login .inputs-fields input {
  width: 100%;
  padding: 8px 12px;
}

.login .input-checkbox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;


  label {
    margin-bottom: 0;
    margin-left: 8px;
    color: #4b5563;
  }

  input {
    margin-bottom: 0;
  }
}

.login button {
  width: 100%;
  margin: 12px 0;
  padding: 8px;
  background: #0d9488;
  border: 1px solid #0d9488;
  color: #f0fdfa;
  border-radius: 4px;
}

.login #link {
  color: #4b5563;
}